{% extends "base.html" %}
{% block title %}가격정보{% endblock %}

{% block header %}
    <h1 class="clickable-item" onclick="location.href='/purchase'">가격정보</h1>
{% endblock %}

{% block main %}
    {% for 가격 in 가격정보 %}
        <div class="purchase-line clickable-item" onclick="location.href='{{ url_for('가격정보_상세', item_code=가격['코드']) }}'">
            <span class="item-name">
                {{ 가격['품목명'] }}
                {% if 가격['규격'] %}<span class="item-spec"> {{ 가격['규격'] }}</span>{% endif %}
            </span>
            <span class="item-price">
                {% if 가격['최소가격'] is not none and 가격['최대가격'] is not none and 가격['최소가격'] == 가격['최대가격'] %}
                    {{ 가격['최소가격'] }}원
                {% else %}
                    {{ 가격['최소가격'] if 가격['최소가격'] is not none else '-' }}~{{ 가격['최대가격'] if 가격['최대가격'] is not none else '-' }}원
                {% endif %}
            </span>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}{% endblock %}
