{% extends "costco/base.html" %}
{% block title %}구매목록추가{% endblock %}

{% block header %}
    <h1 class="clickable-item" id="header-link">
        구매목록추가
    </h1>
    <script>
        document.getElementById('header-link').onclick = function() {
            location.href = "{{ url_for('costco.구매일자_목록') }}";
        };
    </script>
{% endblock %}

{% block main %}
    <form method="get" class="item-edit-form" id="item-edit-form">
        <div class="form-row">
            <label for="date">구매일자</label>
            <input type="date" id="date" name="date" required value="{{ 오늘 }}" class="form-input">
        </div>
        <div class="form-row">
            <label for="store_code">매장</label>
            <select id="store_code" name="store_code">
                {% if 매장목록 %}
                    {% for 매장 in 매장목록 %}
                        <option value="{{ 매장['번호'] }}" data-lat="{{ 매장['위도'] }}" data-lng="{{ 매장['경도'] }}">{{ 매장['매장명'] }}</option>
                    {% endfor %}
                {% else %}
                    <option value="" selected>매장 없음</option>
                {% endif %}
            </select>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <div class="footer-flex"> 
        <span></span>
        <span class="footer-right" id="go-purchase-list">구매목록</span>
    </div>
    <script>
        document.getElementById('go-purchase-list').onclick = function() {
            var d = document.getElementById('date').value;
            var s = document.getElementById('store_code').value;
            if(d && s) {
                var baseUrl = "{{ url_for('costco.구매일자별_매장별_구매목록', date='dummy', store_code=0).rsplit('/', 2)[0] }}";
                location.href = baseUrl + '/' + d + '/' + s;
            } else {
                alert('날짜와 매장을 선택하세요.');
            }
        };
    </script>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='costco/js/select-nearest-store.js') }}"></script>
{% endblock %}
